<div class="service-list-container">
  <div class="service-list" *ngFor="let container of containers">
    <div class="service-container">
      <!-- Service icon -->
      <span class="service-icon" [ngSwitch]="container.iconAssigned">
        <img *ngSwitchCase="true" src={{container.iconUrl}} style="height:71px; width:71px"/>
        <img *ngSwitchDefault src="assets/icons/default.png" style="height:71px; width:71px"/>
      </span>

      <span class="service-misc">
        <!-- Service name -->
        <div class="service-name" *ngIf="container.Names[0]">
          {{container.Names[0] | slice:1}}
        </div>
        <!-- Service uptime -->
        <div class="service-info" *ngIf="container.Status">
          {{container.Status}}
        </div>
        <!-- Service port -->
        <div class="service-info" *ngIf="container.Ports[0] != undefined">
          Port:
          {{container.Ports[0].PublicPort}}
        </div>
        <!-- Stop Button -->
        <div class="service-btn" (click)="stopContainer(container.Id)">
          Stop
        </div>
      </span>
    </div>

  </div>
</div>
