<div class="sidenav">

  <div class="navbtn" *ngFor="let btn of btnlist" (click)="onSelect(btn)">

    <div [ngSwitch]="btn.isClicked">
      <div *ngSwitchCase="false">
        <a [ngStyle]="{'background':'rgba(0, 0, 0, 0)'}" routerLink="{{btn.url}}"><img src={{btn.out}}/></a>
      </div>
      <div *ngSwitchCase="true">
        <a [ngStyle]="{'background':'url(assets/widget.png)'}" routerLink="{{btn.url}}"><img src={{btn.out}}/></a>
      </div>
    </div>

  </div>
</div>

<div class="right-part">
  <div class="mathead">
    <app-masthead></app-masthead>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
