.sidenav {
    height: 100%;
    width: 90px;
    position: absolute;
    background: rgba(100, 100, 100, 0.33);
    text-align: center;
}

.navbtn a {
    padding: 12px 0px;
    display: block;
    transition: all 0.2s ease;
    font-size: 38px;
}

.navbtn a:hover {
    background: rgba(100, 100, 100, 0.37);
}
