.sidenav {
  height: 100%;
  width: 87px;
  float: left;
  position: absolute;
  background-image: url("assets/navbarbg.png");
  background-repeat: repeat-y;
  z-index: 100;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.33), 0 0 12px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.navbtn a {
  width: 87px;
  display: block;
  transition: all 0.2s ease;
  font-size: 38px;
  height: 71px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.navbtn:hover {
  background: rgba(91, 91, 91, 0.23);
}

.right-part {
  height: 100%;
  overflow: auto;
  width: 100%;
  position: absolute;
  background: linear-gradient(135deg, #c78575, #373d85);
  float: left;
  padding-left: 87px;
}

.content {
  position: relative;
  display: inline-block;
  top: 60px;
  bottom: 60px;
  width: 100%;
}

.mathead {
  height: 60px;
  width: calc(100% - 87px);
  background: rgba(0, 0, 0, 0.16);
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: right;
  padding-right: 68px;
  position: fixed;
  top: 0;
}

.footer {
  height: 60px;
  width: calc(100% - 87px);
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding-right: 68px;
}
