.applist-container {
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 71px;
}

.app-list {
  display: inline-block;
  overflow: auto;
}
/*app part : app container;app img ;app name*/
.app-container {
  text-align: center;
  padding: 35px 67px 0;
  position: relative;
}

.app-name {
  width: 90px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-btn {
  color: rgba(0, 0, 0, 0.40);
  background: rgba(255, 255, 255, 0.21);
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px;
  height: 20px;
  width: 58px;
  margin: auto;
  text-align: center;
  line-height: 23px;
}

.app-img:hover .app-removebtn {
  visibility: visible;
}

.app-removebtn {
  visibility: hidden;
  z-index: 3;
  position: relative;
  height: 0;
  left: 43px;
  top: -8px;
  cursor: pointer;
}

.alert {
  /*visibility: hidden;*/
  opacity: 0.7;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 90px;
  padding-left: 60px;
  padding-right: 60px;
}
/* popup box - image detail info box part */
.modal-dialog {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.modal-content {
  width: 478px;
  height: 428px;
  background: rgba(0,0,0,0.48);
}

.detail-image {
  margin-left: 27px;
  margin-right: 18px;
  border-radius: 16px;
  float: left;
}

.detail-app-name {
  line-height: 67px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  float: left;
}

.detail-header-container {
  height: 67px;
  margin-top: 46px;
}

.modal-body hr {
  margin-top: 32px;
  margin-bottom: 35px;
  border-color: rgba(0, 0, 0, 0.32);
  border-top: 1px,thick;
}

.detail-info-container {
  margin-left: 45px;
  margin-right: 45px;
  color: #fff;
  opacity: 0.69;
}

.detail-info-container ul {
  padding-left: 0;
}

.detail-info-left {
  line-height: 32px;
  float: left;
  font-size: 16px;
}

.detail-info-right {
  text-align: right;
  line-height: 32px;
  float: right;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-close {
  float: right;
  cursor: pointer;
}
