<!-- <div [@messageState]="messageState" class="alert alert-success" role="alert">{{alertMessage}}</div> -->
<div *ngIf="messageState" class="alert alert-success" role="alert">{{alertMessage}}</div>
<div *ngIf="messageState && isError" class="alert alert-danger" role="alert">{{alertMessage}}</div>
<div class="applist-container">
  <div class="app-list" *ngFor="let app of imageInfoes">
    <div class="app-container">
      <div class="app-img">
        <div class="app-removebtn" (click)="getImageId(app.Id)" (click)="displayAlert()">
          <img class="app-img" src="assets/icons/close.png"/>
        </div>
        <img class="app-details" (click)="openDetailInfo(app)" src={{app.url}} style="height:90px;width:90px;"/>
      </div>
      <!-- name of the app -->
      <div class="app-name" (click)="openDetailInfo(app)">
        {{app.RepoTags[0]}}
      </div>
      <!-- start app button part -->
      <div class="app-btn">
        Start New
      </div>
    </div>
  </div>
</div>

<!-- image detail info -->
<div class="modal-dialog" *ngIf="showInfoWindow">
  <div class="image-details modal-content">
    <!-- <button class="detail-close" type="button" data-dismiss="modal" aria-hidden="true" (click)="closeDetailInfo()">×</button> -->
    <div class="modal-body">
      <img class="detail-close" src="assets/detailclose.png" (click)="closeDetailInfo()"/>
      <div class="detail-header-container">
        <img class="detail-image" src={{detailApp.url}} style="height:67px;width:67px;"/>
        <div class="detail-app-name">
          {{detailApp.RepoTags[0]}}
        </div>
      </div>
      <hr>
      <div class="detail-info-container">
        <div class="detail-info-left">
          <ul>
            <div>Created Date:</div>
            <div>ID:</div>
            <div>Registory:</div>
            <div>VirtualSize:</div>
          </ul>
        </div>
        <div class="detail-info-right">
          <ul>
            <div>{{detailApp.createDate}}</div>
            <div>{{detailApp.Id}}</div>
            <div>{{detailApp.RepoTags[0]}}</div>
            <div>{{detailApp.VirtualSize}}</div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one appliacation -->
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlert"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlert">
  <div class="alert-body modal-body">
    <span>
      <img src="assets/alert.png"/>
      <span class="alert-message">Do you want to remove this app?</span>
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="removeImage(imageId)" (click)="hideAlert()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlert()">No</button>
  </div>
</div>
