.applist-container {
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 71px;
}

.app-list {
  display: inline-block;
  overflow: auto;
}

.app-img {
  cursor: pointer;
}


/*app part : app container;app img ;app name*/

.app-container {
  text-align: center;
  padding: 35px 67px 0;
  position: relative;
}

.app-name {
  width: 90px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.app-name:hover {
  text-decoration: underline;
}

.app-btn {
  color: rgba(0, 0, 0, 0.40);
  background: rgba(255, 255, 255, 0.21);
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px;
  width: 58px;
  margin: auto;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
}

.app-img:hover .app-removebtn {
  visibility: visible;
}

.app-removebtn {
  visibility: hidden;
  z-index: 3;
  position: relative;
  height: 0;
  left: 43px;
  top: -8px;
  cursor: pointer;
}

.alert {
  opacity: 0.7;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  top: 90px;
  margin: auto;
  line-height: 2em;
  width: 600px;
  text-align: center;
}


/* popup box - image details info box part */

.image-details {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
}

.modal-content {
  width: 478px;
  height: 428px;
  background: rgba(0, 0, 0, 0.48);
}

.detail-image {
  margin-left: 27px;
  margin-right: 18px;
  border-radius: 16px;
  float: left;
}

.detail-app-name {
  line-height: 67px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  float: left;
}

.detail-header-container {
  height: 67px;
  margin-top: 46px;
}

.modal-body hr {
  margin-top: 32px;
  margin-bottom: 35px;
  border-color: rgba(0, 0, 0, 0.32);
  border-top: 1px, thick;
}

.detail-info-container {
  margin-left: 45px;
  margin-right: 45px;
  color: #fff;
  opacity: 0.69;
}

.detail-info-container ul {
  padding-left: 0;
}

.detail-info-left {
  line-height: 32px;
  float: left;
  font-size: 16px;
}

.detail-info-right {
  text-align: right;
  line-height: 32px;
  float: right;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-close {
  float: right;
  cursor: pointer;
}

.detail-close:hover {
  background: rgba(91, 91, 91, 1);
  border-radius: 50%;
}


/* alert dialog css style */

.alert-dialog {
  background: rgba(66, 65, 65, 0.9);
  z-index: 50;
  /* blur filters */
  -webkit-filter: blur(27px);
  -moz-filter: blur(27px);
  -o-filter: blur(27px);
  -ms-filter: blur(27px);
  filter: blur(27px);
}

.alert-content {
  background: rgba(66, 65, 65, 0);
  z-index: 100;
}

.alert-dialog-style {
  height: 237px;
  width: 500px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.alert-body {
  color: white;
  font-size: 18px;
  font-weight: bold;
  top: 44px;
  left: 42px;
  padding: 0;
}

.alert-footer {
  border-top: 0;
  margin: 4px;
  position: absolute;
  bottom: 23px;
  right: 29px;
  padding: 0;
}

.alert-message {
  padding-left: 20px;
}

.btn-alert {
  height: 24px;
  width: 74px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  padding: 0 4px;
}

.btn-alert:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #979797;
}

.btn-yes {
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.62);
}

.btn-no {
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.70);
}
