.service-list-container {
  margin: 40px 68px 46px 67px;
  padding: 21px 15px 0 16px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 9px;
}

.error-service-header {
  padding: 0 0 0 15px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.service-header-left {
  cursor: default;
}

.service-header-right {
  float: right;
  color: #D0D0D0;
  font-weight: normal;
  font-size: 18px;
  height: 22px;
  line-height: 33px;
  cursor: pointer;
}

.service-btn-remove {
  color: rgba(255, 255, 255, 1);
  background: rgba(178, 123, 118, 1);
}

.icon-wrong {
  z-index: 2;
  position: relative;
  height: 0;
  left: -8px;
  top: -8px;
}

.icon-service {
  z-index: 1;
  position: relative;
}

.alert-dialog {
  background: rgba(66, 65, 65, 0.9);
  z-index: 50;
  /* blur filters */
  -webkit-filter: blur(27px);
  -moz-filter: blur(27px);
  -o-filter: blur(27px);
  -ms-filter: blur(27px);
  filter: blur(27px);
}

.alert-content {
  background: rgba(66, 65, 65, 0);
  z-index: 100;
}

.alert-dialog-style {
  height: 237px;
  width: 500px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.alert-body {
  color: white;
  font-size: 18px;
  font-weight: bold;
  top: 44px;
  left: 42px;
  padding: 0;
  cursor: default;
}

.alert-footer {
  border-top: 0;
  margin: 4px;
  position: absolute;
  bottom: 23px;
  right: 29px;
  padding: 0;
}

.alert-message {
  padding-left: 20px;
  cursor: default;
}

.btn-alert {
  height: 24px;
  width: 74px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  padding: 0 4px;
}

.btn-alert:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #979797;
}

.btn-yes {
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.62);
}

.btn-no {
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.70);
}
