.service-list-container {
  margin: 40px 68px 46px 67px;
  padding: 0 15px 0 16px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 9px;
}

.service-header {
  padding: 21px 15px 0 15px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.service-header-right {
  float: right;
  color: #D0D0D0;
  font-weight: normal;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.service-list {
  display: inline-block;
}

.service-container {
  padding: 35px 62px 35px 61px;
}

.service-misc {
  float: right;
  margin-left: 9px;
  position: relative;
  height: 100%;
  width: 57px;
}

.service-name {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-info {
  color: #F4F4F4;
  font-size: 10px;
}

.service-btn {
  color: rgba(255, 255, 255, 1);
  background: rgba(178, 123, 118, 1);
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  height: 15px;
  width: 55px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  top: 56px;
}

.icon-wrong {
  z-index: 3;
  position: relative;
  height: 0;
  left: -8px;
  top: -8px;
}

.icon-service {
  z-index: 1;
  position: relative;
}
