<div class="service-list-container">
  <div class="error-service-header">
    <span class="service-header-left">Oops! There Is Something Wrong</span>
    <span class="service-header-right" (click)="displayAlertAll()">
      <img src="assets/trash.png" style="margin:0"/>
      Remove All
    </span>
  </div>
  <div class="service-list" *ngFor="let container of containers">
    <div class="service-container error-service-container">
      <span class="service-img" [ngSwitch]="container.iconAssigned">
        <div class="icon-wrong">
          <img src="assets/wrong.png"/>
        </div>
        <img *ngSwitchCase="true" src={{container.iconUrl}} style="height:71px; width:71px"/>
        <img *ngSwitchDefault src="assets/icons/default.png" style="height:71px; width:71px"/>
      </span>

      <span class="service-misc">
        <!-- Service name -->
        <div class="service-name" *ngIf="container.Names[0]">
          {{container.Names[0] | slice:1}}
        </div>
        <!-- Service uptime -->
        <div class="service-info" *ngIf="container.Status">
          {{container.Status}}
        </div>
        <!-- Service port -->
        <div class="service-info" *ngIf="container.Ports[0] != undefined">
          Port:
          {{container.Ports[0].PublicPort}}
        </div>
        <!-- Remove Button -->
        <div class="service-btn-remove service-btn" (click)="displayAlert()" (click)="getContainerId(container.Id)">
          Remove
        </div>
      </span>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one service -->
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlert"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlert">
  <div class="alert-body modal-body">
    <span>
      <img src="assets/alert.png"/>
      <span class="alert-message">Do you want to remove this service?</span>
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="removeContainer(containerId)" (click)="hideAlert()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlert()">No</button>
  </div>
</div>

<!-- The alert dialog for remove all services -->
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlertAll"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlertAll">
  <div class="alert-body modal-body">
    <span>
      <img src="assets/alert.png"/>
      <span class="alert-message">Do you want to remove all services?</span>
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="removeAll()" (click)="hideAlertAll()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlertAll()">No</button>
  </div>
</div>
